body{
  background: #66ff99;
}

#main{
  width: 60%;
  margin: 0 auto;
  background: #ffff99;
}

h1{
  text-align: center;
  font: 50px Copperplate;
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
}

#menu{
  width: 100%;
}

.menuButton{
  width: 32.5%;
  border-style: groove;
  background: #eeeeee;
  display: inline-block;
  text-align: center;
  font: 30px Pacifico;
}

a{
  color: black;
}

h2{
  text-align: center;
  font: 30px Pacifico;
}
h3{
  text-align: center;
  color: #333333;
  font: 20px Pacifico;
}

p{
  font: 18px Pacifico;
}

table{
  margin: 0 auto;
}

td{
  width: 20px;
  height: 20px;
}

.gray{
  background: gray;
}

.black{
  background: black;
}